@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;500;700&display=swap');

*{
    box-sizing: border-box;
}

*::-webkit-scrollbar{
    width: 0.25rem;
}

*::-webkit-scrollbar-track{
    background: #DED4DB; 
}

*::-webkit-scrollbar-thumb{
    background: #604B56;
}

html,body{
    font-family: 'Jost', sans-serif;
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    text-align: center;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    }

    .navbar{
        width: 100%;
        height: 3rem;
         background-color: #604B56;
        box-shadow: .2rem .2rem .5rem #555;
        position: absolute;
        z-index: 300;
        }

        .navbar-link{
            font-size: 1.7rem;
            font-weight: 300;
            color: #ffc2b4;
            margin: 0 3rem;
            letter-spacing: .3rem;
            text-transform: uppercase;
            text-decoration: none;
            }

    
            .navbar-link:hover{
                color: #fff;
            }


                                                   


.hero-image{
    position: relative;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url(https://images.pexels.com/photos/428321/pexels-photo-428321.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) center no-repeat;
    background-size: cover;
    clip-path: ellipse(100% 55% at 48% 44%);
}


.container{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    text-align: center;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
}

.container h1{
    font-size: 100px;
    letter-spacing: .2rem;
    opacity: .6;
    margin: 0;
}

.container h1 span{
    border: 10px solid white;
    padding: 6px  14px;
    display: inline-block;
}


/* gallery */

.gallery{
    margin-bottom: 60px;
}
.container-2 {
    margin-top: 00px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 15px;
  }
  .container-2 img {
    width: 100%;
    display: block;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    transition: all 100ms ease-out;
  }
  .container-2 img:hover {
    transform: scale(1.04);
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
  }
  


/* gallery ends */


/* contact */
#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }
#contact {
	background:fade(#F9F9F9,85);
	padding:25px;
	margin: 0 auto;
    width: 30rem;
    flex-direction: column;
}
#contact h3 {
	color: #333;
	display: block;
	font-size: 50px;
	font-weight: 400;
    text-align: center;
}
#contact h4 {
	margin:5px 0 15px;
    color: #333;
	display:block;
	font-size: 20px;
    text-align: center;
}
fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}
#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}
#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}
#contact textarea {
	height:100px;
	max-width:100%;
  resize:none;
}
#contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:#333;
	color:#FFF;
	margin:0 0 5px;
	padding:25px 10px;
	font-size:15px;
	text-transform: uppercase;
}
#contact button[type="submit"]:hover {
	background:#604B56;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}
#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }
#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}
label.error{
	color: darkred;
	padding-left: 10px;
	font-weight: bold;
}
input.error{
	border-color: darkred !important;


}
/* contact */

/* Footer */
.footer{
    margin: 3rem;
}

.social-icons{
    padding-left: 1rem;
    color: #604B56;
}

.copyright{
    font-size: 1rem;
}

/* Footer ends   */

/* Responsive */


@media (max-width: 800px){

    .container h1{
        font-size: 40px;
    }

    .container h1 span{
        border: 5px solid white;
    }

    .heading h1{
        font-size: 60px;
    }

    #contact h3 {
        font-size: 30px;
        
    }
    
    #contact h4 {
        font-size: 13px;       
    }

    #contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }
#contact {
    width: 20rem;
}

   
}

@media (max-width: 600px){
    .navbar-link{
        margin:0 20px;
        font-size: 15px;
        }
}


@media (max-width: 450px){
    .navbar-link{
        margin: 0 15px;
        }
}



    

    








    



